<a href="https://colab.research.google.com/github/EmersonFranca/QuarentenaDados/blob/master/Gerando_novas_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
URI_TREINO = "https://github.com/tgcsantos/quaretenadados/blob/master/DADOS_TREINO.csv?raw=true"
URI_TESTE = "https://github.com/tgcsantos/quaretenadados/raw/master/DADOS_TESTE.csv"
URI_DESAFIOQT = "https://github.com/tgcsantos/quaretenadados/raw/master/DESAFIOQT.csv"

dados_treino = pd.read_csv(URI_TREINO)
dados_teste = pd.read_csv(URI_TESTE)
dados_desafioqt = pd.read_csv(URI_DESAFIOQT)

In [0]:
erro_treino = "Erro ao carregar dados de treino"
erro_teste = "Erro ao carregar dados de teste"
erro_desafioqt = "Erro ao carregar dados de submissão"

In [0]:
assert dados_treino.shape == (150000, 5), erro_treino
assert dados_teste.shape == (20000, 5), erro_teste
assert dados_desafioqt.shape == (10000, 5), erro_desafioqt

In [0]:
coluna_label = 'NU_NOTA_LC'
coluna_features = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']

X_treino = dados_treino[coluna_features].to_numpy()
Y_treino = dados_treino[coluna_label].to_numpy()
X_teste = dados_teste[coluna_features].to_numpy()
Y_teste = dados_teste[coluna_label].to_numpy()

## 4.3 Criando a variável no Dia 1

Conclusão: 
            * De 2177.3837700970284 Para 2175.7001898437484

In [0]:
dados_treino_4_3 = pd.read_csv(URI_TREINO)

condicao_Dia_1_Nao_Possui_Nota = (dados_treino_4_3.NU_NOTA_LC == 0) & (dados_treino_4_3.NU_NOTA_CH == 0) & (dados_treino_4_3.NU_NOTA_REDACAO == 0)  
condicao_Dia_2_Possui_Alguma_Nota = (dados_treino_4_3.NU_NOTA_MT > 0) | (dados_treino_4_3.NU_NOTA_CN > 0) 

dados_treino_4_3['Faltou_no_dia_1'] = 0
dados_treino_4_3['Faltou_no_dia_1'] = dados_treino_4_3['Faltou_no_dia_1'].mask(condicao_Dia_1_Nao_Possui_Nota & condicao_Dia_2_Possui_Alguma_Nota, 1)

In [0]:
dados_treino

        NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
0            530.7       586.5       575.9       539.0            520.0
1            439.4       577.9       440.9       488.7            380.0
2            414.1       548.8       417.2       382.6            600.0
3            407.9       572.7       558.9       595.4            560.0
4            617.2       655.7       564.2       660.9            540.0
...            ...         ...         ...         ...              ...
149995       587.8       644.1       621.4       714.4            840.0
149996       385.0       525.6       473.2       446.2            520.0
149997       471.0       558.7       582.4       542.9            460.0
149998       476.7       463.5       553.3       434.0              0.0
149999       637.8       611.5       533.9       731.7            600.0

[150000 rows x 5 columns]

In [0]:
dados_teste_4_3 = pd.read_csv(URI_TESTE)

teste_condicao_Dia_1_Nao_Possui_Nota = (dados_teste_4_3.NU_NOTA_LC == 0) & (dados_teste_4_3.NU_NOTA_CH == 0) & (dados_teste_4_3.NU_NOTA_REDACAO == 0)  
teste_condicao_Dia_2_Possui_Alguma_Nota = (dados_teste_4_3.NU_NOTA_MT > 0) | (dados_teste_4_3.NU_NOTA_CN > 0) 

dados_teste_4_3['Faltou_no_dia_1'] = 0
dados_teste_4_3['Faltou_no_dia_1'].mask(teste_condicao_Dia_1_Nao_Possui_Nota & teste_condicao_Dia_2_Possui_Alguma_Nota, 1, inplace=True)

In [0]:
dados_teste_4_3.corr()

                 NU_NOTA_CN  NU_NOTA_CH  ...  NU_NOTA_REDACAO  Faltou_no_dia_1
NU_NOTA_CN         1.000000    0.566659  ...         0.507388        -0.003831
NU_NOTA_CH         0.566659    1.000000  ...         0.503655        -0.051487
NU_NOTA_LC         0.588818    0.696624  ...         0.552145        -0.051681
NU_NOTA_MT         0.574146    0.522041  ...         0.486406         0.006297
NU_NOTA_REDACAO    0.507388    0.503655  ...         1.000000        -0.019734
Faltou_no_dia_1   -0.003831   -0.051487  ...        -0.019734         1.000000

[6 rows x 6 columns]

In [0]:
coluna_features_4_3 = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_MT', 'NU_NOTA_REDACAO','Faltou_no_dia_1']

X_treino_4_3 = dados_treino_4_3[coluna_features_4_3].to_numpy()
Y_treino_4_3 = dados_treino_4_3[coluna_label].to_numpy()
X_teste_4_3 = dados_teste_4_3[coluna_features_4_3].to_numpy()
Y_teste_4_3 = dados_teste_4_3[coluna_label].to_numpy()

#Lasso_erro_quadratico_medio(X_treino_4_3, Y_treino_4_3, X_teste_4_3, Y_teste_4_3)

## 4.4 Criando a variável faltou no dia 2

Conclusão: 
          
           * Sem modificaçãoes -> 2177.3837700970284
           * Com 4.3 -> 2175.7001898437484
           * Com 4.4 -> 2175.71230543276

In [0]:
dados_treino_4_4 = dados_treino_4_3.copy(deep=True)

condicao_Dia_2_Nao_Possui_Nota = (dados_treino_4_4.NU_NOTA_MT == 0) & (dados_treino_4_4.NU_NOTA_CN == 0) 
condicao_Dia_1_Possui_Alguma_Nota = (dados_treino_4_4.NU_NOTA_LC > 0) | (dados_treino_4_4.NU_NOTA_CH > 0) | (dados_treino_4_4.NU_NOTA_REDACAO > 0)  

dados_treino_4_4['Faltou_no_dia_2'] = 0
dados_treino_4_4['Faltou_no_dia_2'].mask(condicao_Dia_2_Nao_Possui_Nota & condicao_Dia_1_Possui_Alguma_Nota, 1, inplace=True)

In [0]:
dados_treino_4_4.corr()

                 NU_NOTA_CN  NU_NOTA_CH  ...  Faltou_no_dia_1  Faltou_no_dia_2
NU_NOTA_CN         1.000000    0.568969  ...        -0.003827        -0.054383
NU_NOTA_CH         0.568969    1.000000  ...        -0.074245        -0.004813
NU_NOTA_LC         0.594625    0.701125  ...        -0.075415        -0.005862
NU_NOTA_MT         0.580603    0.531336  ...        -0.004590        -0.042447
NU_NOTA_REDACAO    0.513613    0.508316  ...        -0.028924        -0.001518
Faltou_no_dia_1   -0.003827   -0.074245  ...         1.000000        -0.000084
Faltou_no_dia_2   -0.054383   -0.004813  ...        -0.000084         1.000000

[7 rows x 7 columns]

In [0]:
dados_teste_4_4 = dados_teste_4_3.copy(deep=True)

teste_condicao_Dia_2_Nao_Possui_Nota = (dados_teste_4_4.NU_NOTA_MT == 0) & (dados_teste_4_4.NU_NOTA_CN == 0) 
teste_condicao_Dia_1_Possui_Alguma_Nota = (dados_teste_4_4.NU_NOTA_LC > 0) | (dados_teste_4_4.NU_NOTA_CH > 0) | (dados_teste_4_4.NU_NOTA_REDACAO > 0)  

dados_teste_4_4['Faltou_no_dia_2'] = 0
dados_teste_4_4['Faltou_no_dia_2'].mask(teste_condicao_Dia_2_Nao_Possui_Nota & teste_condicao_Dia_1_Possui_Alguma_Nota, 1, inplace=True)

In [0]:
dados_teste_4_4.corr()

                 NU_NOTA_CN  NU_NOTA_CH  ...  Faltou_no_dia_1  Faltou_no_dia_2
NU_NOTA_CN         1.000000    0.566659  ...        -0.003831        -0.047486
NU_NOTA_CH         0.566659    1.000000  ...        -0.051487        -0.002074
NU_NOTA_LC         0.588818    0.696624  ...        -0.051681         0.006481
NU_NOTA_MT         0.574146    0.522041  ...         0.006297        -0.036984
NU_NOTA_REDACAO    0.507388    0.503655  ...        -0.019734         0.010850
Faltou_no_dia_1   -0.003831   -0.051487  ...         1.000000        -0.000050
Faltou_no_dia_2   -0.047486   -0.002074  ...        -0.000050         1.000000

[7 rows x 7 columns]

In [0]:
coluna_features_4_4 = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_MT', 'NU_NOTA_REDACAO','Faltou_no_dia_1','Faltou_no_dia_2']

X_treino_4_4 = dados_treino_4_4[coluna_features_4_4].to_numpy()
Y_treino_4_4 = dados_treino_4_4[coluna_label].to_numpy()
X_teste_4_4 = dados_teste_4_4[coluna_features_4_4].to_numpy()
Y_teste_4_4 = dados_teste_4_4[coluna_label].to_numpy()

#Lasso_erro_quadratico_medio(X_treino_4_4, Y_treino_4_4, X_teste_4_4, Y_teste_4_4)

## 4.5 E se eu substituir todos os zeros por um valor negativo?

Conlsuão: 


*   Sem modificações -> 2177.3837700970284
*   Com 5.4 -> 2175.71230543276
*   Com 5.5 -> 2174.9998033456836

Dos números entre -25 e -300, encontrei o valor -111 com o melhor resultado

In [0]:
dados_treino_4_5 = dados_treino_4_4.copy(deep=True)

In [0]:
valor_a_ser_comparado = 0
valor_a_ser_colocado =  -111

In [0]:
condicao_NOTA_CN_igual_a_0 = dados_treino_4_5['NU_NOTA_CN'] == valor_a_ser_comparado

dados_treino_4_5['NU_NOTA_CN'].mask(condicao_NOTA_CN_igual_a_0,valor_a_ser_colocado,inplace=True)

In [0]:
condicao_NOTA_CH_igual_a_0 = dados_treino_4_5['NU_NOTA_CH'] == valor_a_ser_comparado

dados_treino_4_5['NU_NOTA_CH'].mask(condicao_NOTA_CH_igual_a_0,valor_a_ser_colocado,inplace=True)

In [0]:
condicao_NOTA_LC_igual_a_0 = dados_treino_4_5['NU_NOTA_LC'] == valor_a_ser_comparado

dados_treino_4_5['NU_NOTA_LC'].mask(condicao_NOTA_LC_igual_a_0,valor_a_ser_colocado,inplace=True)

In [0]:
condicao_NOTA_MT_igual_a_0 = dados_treino_4_5['NU_NOTA_MT'] == valor_a_ser_comparado

dados_treino_4_5['NU_NOTA_MT'].mask(condicao_NOTA_MT_igual_a_0,valor_a_ser_colocado,inplace=True)

In [0]:
condicao_NOTA_REDACAO_igual_a_0 = dados_treino_4_5['NU_NOTA_REDACAO'] == valor_a_ser_comparado

dados_treino_4_5['NU_NOTA_REDACAO'].mask(condicao_NOTA_REDACAO_igual_a_0,valor_a_ser_colocado,inplace=True)

In [0]:
X_treino_4_5 = dados_treino_4_5[coluna_features_4_4].to_numpy()
Y_treino_4_5 = dados_treino_4_5[coluna_label].to_numpy()

# 5. Exportando os dados modificados

In [0]:
from google.colab import files

In [0]:
dados_treino.to_csv('dados_treino.csv', index=False) 
files.download('dados_treino.csv')

In [0]:
dados_teste.to_csv('dados_teste.csv', index=False) 
files.download('dados_teste.csv')

In [0]:
dados_treino_4_3.to_csv('dados_treino_faltou_dia_1.csv', index=False) 
files.download('dados_treino_faltou_dia_1.csv')

In [0]:
dados_teste_4_3.to_csv('dados_teste_4_3_faltou_dia_1.csv', index=False) 
files.download('dados_teste_4_3_faltou_dia_1.csv')

In [0]:
dados_treino_4_4.to_csv('dados_treino_faltou_dia_1_e_2.csv', index=False) 
files.download('dados_treino_faltou_dia_1_e_2.csv')

In [0]:
dados_teste_4_4.to_csv('dados_teste_faltou_dia_1_e_2.csv', index=False) 
files.download('dados_teste_faltou_dia_1_e_2.csv')

In [0]:
dados_treino_4_5.to_csv('dados_treino_faltou_dia_1_e_2_sem_nota_zero.csv', index=False) 
files.download('dados_treino_faltou_dia_1_e_2_sem_nota_zero.csv')